/*------------------------------------basics----*/
:root {color-scheme: normal;}

p {font-family: Verdana, Geneva, Tahoma, sans-serif;}


/*------------------------------------navigation----------*/
li {float: left;}

li a {display: block;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    color: black;}

li a:hover {color: mediumvioletred;
    text-decoration: underline;
    font-weight: bold;}

.active {color: darkred;}

ul {position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;}

/* no internet image */
.rotate {animation: rotation 10s infinite linear}

@keyframes rotation {
    from {transfrom:rotate(0deg);}
    to {transform: rotate(359deg);}
}


/*-----------------------------------FOOTER-----------*/
footer {position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;}

footer p {font-size: 10px}

