/*------------------------------------basics----*/
:root {color-scheme: normal;}

p {font-family: Verdana, Geneva, Tahoma, sans-serif;}

/*---------------------------------header---------------------*/
/*-------------------------navigation -------------------*/
li {float: left;}

li a {display: block;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    color: black;
    background-color: white;}

li a:hover {color: rgb(233, 68, 137);}

.active {color: rgb(160, 0, 75);
    font-weight: bold;}

ul {position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;}

/* apple image */
#logo {position: fixed;
    width: 55px;
    height: 55px;
    top: 10px;
    right: 10px;}

#logo:hover {
        /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.7s;
      
        /* When the animation is finished, start again */
    animation-iteration-count: infinite;
    }
      
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
    }

/*----shake--- if want to use, just add class rotate*/
.rotate {animation: rotation 10s infinite linear}

@keyframes rotation {
    from {transfrom:rotate(0deg);}
    to {transform: rotate(359deg);}
}


/*----------------------------------SIDE BAR NAVI--------------------------------------*/
.sidebar {
  height: 100%; /* Full-height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: white
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #818181;
}

/*----------------------------------BODY COLUMNS---------------------------------------*/
/* container */
.main-columns {
    display:block;
}

/* columns */
.main-columns > * {
    padding:1rem;
}

/* tablet breakpoint */
@media (min-width:768px) {
    .main-columns {
        display: grid;
        grid-auto-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/*--------------------------------------FOOTER-----------*/
footer {position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;}

footer p {font-size: 10px}

